@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "../../assets/stylesheets/styles";

.cover {
  position: relative;
  height: 100%;
}

.cover::before {
  background-color: $cover-overlay-color;
  opacity: 0.2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.cover img {
  max-height: 100%;
}

.cover h1 {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.coverText {
  font-family: $header-font-family;
  color: $cover-text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@include media-breakpoint-up(sm) {
  .cover h1 {
    font-size: 3rem;
  }
}

@include media-breakpoint-up(md) {
  .cover h1 {
    font-size: 4rem;
  }
}
