@import "bootstrap/scss/bootstrap-grid";

.logoHyperlink {
  margin: 0.75em;
}

.logoHyperlink img {
  margin: 0.75em;
  width: auto;
  height: 3.78em;
  max-height: 60px;
}

@include media-breakpoint-down(md) {
  .linkDescription {
    display: block;
  }
}
