RewriteEngine On

RewriteBase /

RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule (.+\.(jpg|jpeg|png|gif|bmp|ico))$ - [L]
RewriteRule index\.html$ - [L,R=301]

RewriteCond %{REQUEST_URI} ^/$ [OR]
RewriteCond %{REQUEST_URI} ^\/(home)\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/(members)\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/(links)\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/(history)\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/(events)\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/(venues)\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/((contact)|(contact_us))\/?$ [OR]
RewriteCond %{REQUEST_URI} ^\/((about)|(about_us))\/?$
RewriteRule . index.html

RewriteCond %{HTTP_HOST} ^(www|api|members).*
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ https://%{HTTP_HOST}/index.html [L,R=301]

RewriteCond %{HTTP_HOST} ^(?!www).*
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/index.html [L,R=301]
