<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow specific routes
  RewriteRule ^home$ /index.html [L]
  RewriteRule ^members$ /index.html [L]
  RewriteRule ^links$ /index.html [L]
  RewriteRule ^history$ /index.html [L]
  RewriteRule ^about$ /index.html [L]
  RewriteRule ^about_us$ /index.html [L]

  # Return 404 for all other routes
  RewriteRule .* - [R=404,L]
</IfModule>