@use "bootstrap/scss/bootstrap-grid" as *;

$logo-height: 60px;

:export {
  logoHeight: $logo-height;
}

.logoHyperlink {
  margin: 0.75em;
}

.logoHyperlink img {
  margin: 0.75em;
  width: auto;
  height: 3.78em;
  max-height: $logo-height;
}

@include media-breakpoint-down(md) {
  .linkDescription {
    display: block;
  }
}
