@use "bootstrap/scss/bootstrap-grid";

.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bodySidebar {
  max-width: 15%;
  flex: initial;
}

.bodyInner {
  padding: 0.75rem;
  display: flex;
  flex: auto;
  justify-content: center;
}

@include bootstrap-grid.media-breakpoint-down(md) {
  .body {
    padding: 0;
    margin: 0;
  }
}

@include bootstrap-grid.media-breakpoint-up(lg) {
  .bodyCenter {
    width: calc(100% - 16rem);
  }
}

@include bootstrap-grid.media-breakpoint-up(xl) {
  .bodyCenter {
    width: calc(100% - 20rem);
  }
}
