@import "bootstrap/scss/bootstrap-grid";

.Body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.BodySidebar {
  max-width: 15%;
  flex: initial;
}

.BodyInner {
  width: 100%;
  height: 100%;
  padding: 0.75em;
  display: flex;
  flex: auto;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .Body {
    padding: 0;
    margin: 0;
  }
}

@include media-breakpoint-up(lg) {
  .BodyCenter {
    max-width: calc(100% - 16rem);
  }
}

@include media-breakpoint-up(xl) {
  .BodyCenter {
    max-width: calc(100% - 20rem);
  }
}
