@import "bootstrap/scss/bootstrap-grid";

.body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bodySidebar {
  max-width: 15%;
  flex: initial;
}

.bodyInner {
  padding: 0.75em;
  display: flex;
  flex: auto;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .body {
    padding: 0;
    margin: 0;
  }
}

@include media-breakpoint-up(lg) {
  .bodyCenter {
    width: calc(100% - 16em);
  }
}

@include media-breakpoint-up(xl) {
  .bodyCenter {
    width: calc(100% - 20em);
  }
}
