@use "bootstrap/scss/bootstrap-grid" as bootstrap-grid;

$logo-max-height: 60px;
$logo-max-width: 100px;

:export {
  logoHeight: $logo-max-height;
  loigWidth: $logo-max-width;
}

.linkLogoAndDescription {
  align-items: center;
}

.logoHyperlink {
  margin: 0.75em;
}

.logoHyperlink img {
  margin: 0.75em;
  width: auto;
  max-width: $logo-max-width;
  height: 3.78em;
  max-height: $logo-max-height;
  object-fit: contain;
}

@include bootstrap-grid.media-breakpoint-down(md) {
  .linkDescription {
    display: block;
  }
}
