$map-width: 100%;
$map-height: 15em;
$video-width: 36em;
$video-height: 20em;

:export {
  mapWidth: $map-width;
  mapHeight: $map-height;
}

.worldShootSummary {
  margin-top: 0.75em;
}

.worldShootRangeMap,
.worldShootRangeVideo {
  margin: 0.75em 0;
  padding: 0.75em 0;
}

.worldShootRangeVideo {
  max-width: $video-width;
  height: $video-height;
  max-height: $video-height;
}

.worldShoot img {
  margin-bottom: 0.75em;
}

.worldShoot h6 {
  margin-bottom: 1.55em;
}

.worldShoot2025 {
  @extend .worldShoot;
}
