@import "bootstrap/scss/bootstrap-grid";
@import "../../assets/stylesheets/style-theme";

$map-width: 100%;
$map-height: 12em;

:export {
  maxWidth: $map-width;
  mapHeight: $map-height;
}

.Footer {
  padding: 0.75rem;
  margin: 0.75rem;
  align-content: center;
  justify-content: center;
}

.FooterInner, .FooterCenter {
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.FooterCenter {
  margin-left: auto;
  margin-right: auto;
}

.FooterInner {
    padding: 0.75rem 0;
}

.FooterContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: auto;
  align-content: center;
  justify-content: center;
}

.FooterMap {
  padding: 0;
  margin: 0;
}

.FooterDetails {
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-between;
  justify-items: stretch;
  text-align: left;
  vertical-align: middle;
}

.ContactInfo {
  font-weight: 400;
}

.WebsiteInfo p {
  margin-bottom: 0;
  font-size: 0.9em;
}

@include media-breakpoint-down(md) {
  .Footer {
    margin: 0;
  }

  .FooterInner {
    padding-top: 0;
  }

  .FooterCenter {
    padding-top: 0.75rem;
  }

  .FooterMap {
    padding-bottom: 0.75rem;
  }

  .FooterDetails {
    padding-top: 0.75rem;
  }

  .ContactInfo {
    padding-bottom: 0.75rem;
  }

  .WebsiteInfo {
   padding-top: 0.75rem;
  }
}
