@import "bootstrap/scss/bootstrap-grid";
@import "../../assets/stylesheets/style-theme";

:export {
  maxWidth: 100%;
  mapHeight: 8em;
}

.Footer {
  padding: 0.75rem;
  margin: 0.75rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.FooterInner, .FooterCenter {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.FooterCenter {
  margin-left: auto;
  margin-right: auto;
}

.FooterInner {
    padding: 0.75em 0;
}

.FooterContent {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-content: center;
  justify-content: center;
}

.FooterMap {
  padding: 0;
}

.FooterText {
  flex: auto;
  text-align: center;
  vertical-align: middle;
}

a:link .FooterInner, a:hover .FooterInner, a:visited:hover .FooterInner,
a:focus:hover .FooterInner, a:active:hover, .FooterInner {
  color: $anchor-text-highlight-color;
}

a:visited .FooterInner, a:focus .FooterInner, a:active .FooterInner {
  color: $anchor-text-color;
}

@include media-breakpoint-down(md) {
  .Footer {
    margin: 0;
  }

  .FooterInner {
    padding-top: 0;
  }

  .FooterCenter {
    padding-top: 0.75em;
  }
}
