@use "colors" as *;
@use "../../vendors/bootstrap/stylesheets/custom" as hpsc-custom;

/* Colours */
$background-gradient: $blue-gradient-top;
$body-color: hpsc-custom.$body-color;
$headings-color: hpsc-custom.$headings-color;
$border-color: hpsc-custom.$border-color;
$link-color: hpsc-custom.$link-color;
$link-hover-color: hpsc-custom.$link-hover-color;
$btn-primary-background-color: $club-blue-40;
$btn-primary-hover-color: $club-primary-blue;
//$focus-ring-color: hpsc-custom.$focus-ring-color;
$input-focus-border-color: hpsc-custom.$input-focus-border-color;
$menu-background-color: $club-blue-95;
$menu-hover-color: $club-blue-80;
