@use "colors" as *;
@use "../../vendors/bootstrap/stylesheets/custom" as *;

/* Fonts */
$text-font: $body-color;

/* Colours */
$background-gradient: $blue-gradient-top;
$btn-primary-background-color: $club-blue-dark;
$btn-primary-hover-color: $club-primary-blue;
$menu-background-color: $club-blue-lighter;
$menu-hover-color: $club-blue-light;
