@import "./style-font";
@import "./style-colors";

/* Font Families */
$font-family-base: $noto-sans-font-family;
$font-family-code: $noto-code-font-family;
$headings-font-family: $noto-sans-display-font-family;

/* Colours */
$body-color: $butterscotch-dark;
$body-bg: $blue-lighter;
$link-color: $butterscotch-medium;
$link-hover-color: $yellow-darkest;
$border-color: $yellow;
