@use "styles-theme" as *;

:export {
  text-font: $text-font;
}

/* TahoniLib */
:root {
  --tl-loader-color: var(--club-primary-yellow);
}

/* Bootstrap */
:root {
  .btn-primary, .btn-info {
    --bs-btn-bg: var(--club-primary-blue);
    --bs-btn-hover-bg: var(--club-blue-dark);
    --bs-btn-border-color: var(--focus-ring-color);
    --bs-btn-focus-shadow-rgb: var(--focus-ring-color);
  }
}
