@import "style-colors";
@import "style-theme";

:export {
  text-font: $text-font;
}

/* TahoniLib */
:root {
  --tl-cover-gradient: $blue-gradient-bottom-left;
  --tl-cover-slider-nav-font-family: $heading-text-font-family;
  --tl-cover-slider-nav-color: $heading-text-color;
  --tl-cover-text-color: $cover-text-color;
}

/* Bootstrap */
:root {
  .btn-primary, .btn-info, .form-control {
    --bs-btn-bg: #0a07fbff; /* $club-primary-blue */
    --bs-btn-hover-bg: #0603c9; /* $club-blue-dark */
    --bs-btn-border-color: #9c9bfd; /* $focus-ring-color = $club-blue-light */
    --bs-btn-focus-shadow-rgb: 156, 155, 253; /* $focus-ring-color = $club-blue-light */
  }
}
