@import "style-icons";
@import "style-theme";
@import "style-overrides";
@import "style-variables";

/* General */
html, body {
  font-family: $text-font-family;
  color: $text-color;
  background: $background-color fixed no-repeat;
  box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-text-font-family;
  color: $heading-text-color;
}

/* Hyperlink */
a:link, a:hover, a:visited:hover, a:focus:hover, a:active:hover {
  color: $anchor-text-color;
}

a:visited, a:focus, a:active {
  color: $anchor-text-highlight-color;
}
