@import "style-theme";

/* TahoniLib */
:root {
  --tl-cover-gradient: $blue-gradient-bottom-left;
  --tl-cover-slider-nav-font-family: $heading-text-font-family;
  --tl-cover-slider-nav-color: $heading-text-color;
  --tl-cover-text-color: $cover-text-color;
}

/* Bootstrap */
:root {
  --bs-font-sans-serif: $text-font-family;
  --bs-font-monospace: $code-text-font-family;
  --bs-body-bg: $background-color;
}
