/* Coolors Exported Palette - https://coolors.co/ca9148-0a07fb-f5f4f4-000000-f4f421 */

/* Club Primary Colours */
$club-primary-butterscotch: #ca9148ff;
$club-primary-blue: #0a07fbff;
$club-primary-white-smoke: #f5f4f4ff;
$club-primary-black: #000000ff;
$club-primary-yellow: #f4f421ff;

/* Club Shaded Colours */
$club-butterscotch-dark: #130c07;
$club-butterscotch-medium: #513615;
$club-blue-lighter: #e6e6ff;
$club-blue-light: #9c9bfd;
$club-blue-dark: #0603c9;
$club-yellow-lightest: #fefee7;
$club-yellow-darkest: #181802;

/* International Primary Colours */
$international-black: #31261d;
$internation-blue: #006ba6;
$internation-gold: #a28d5b;

/* International Secondary Colours */
$international-secondary-blue: #00263a;

/* Gradients */
$blue-gradient-top: linear-gradient(0deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-right: linear-gradient(90deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-bottom: linear-gradient(180deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-left: linear-gradient(270deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-top-right: linear-gradient(45deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-bottom-right: linear-gradient(135deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-top-left: linear-gradient(225deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-bottom-left: linear-gradient(315deg, $club-blue-light, $club-blue-lighter);
$blue-gradient-radial: radial-gradient($club-blue-light, $club-blue-lighter);
