@use "./style-font";
@use "./style-colors";

/* Font Families */
$font-family-sans-serif: style-font.$noto-sans-font-family;
$font-family-monospace: style-font.$noto-code-font-family;
$headings-font-family: style-font.$noto-sans-display-font-family;

/* Colours */
$body-color: style-colors.$club-butterscotch-dark;
$headings-color: $body-color;
$link-color: style-colors.$club-butterscotch-medium;
$link-hover-color: style-colors.$club-yellow-darkest;
$border-color: style-colors.$club-primary-yellow;
$focus-ring-color: style-colors.$club-blue-light;
$input-focus-border-color: style-colors.$club-primary-blue;
