@use "style-icons";
@use "style-theme";
@use "style-custom";
@use "style-variables";

/* General */
html, body {
  background: style-theme.$background-gradient fixed no-repeat;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Forms */
.form-control:required {
  border-left-width: thick;
}

/* Buttons */
.btn-info {
  @extend .btn-primary;
}

/* Menus */
.dropdown-menu {
  background-color: style-theme.$menu-background-color;
}

a.dropdown-item:hover {
  background-color: style-theme.$menu-hover-color;
}

.dropdown-item a, .dropdown-item a:visited, .dropdown-item a:hover, .dropdown-item a:active {
  text-decoration: none;
}
