/* Coolors Exported Palette - https://coolors.co/ca9148-0a07fb-f5f4f4-000000-f4f421 */

/* SCSS HEX */
$butterscotch: #CA9148ff;
$blue: #0A07FBff;
$white-smoke: #F5F4F4ff;
$black: #000000ff;
$yellow: #F4F421ff;

$butterscotch-20: #513615;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-right: linear-gradient(90deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-bottom: linear-gradient(180deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-left: linear-gradient(270deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-top-right: linear-gradient(45deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-bottom-right: linear-gradient(135deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-top-left: linear-gradient(225deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-bottom-left: linear-gradient(315deg, #CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
$gradient-radial: radial-gradient(#CA9148ff, #0A07FBff, #F5F4F4ff, #000000ff, #F4F421ff);
