@use "style-custom";
@use "style-colors";

/* Fonts */
$text-font: style-custom.$body-color;
$heading-text-font-family: style-custom.$headings-font-family;

/* Colours */
$background-gradient: style-colors.$blue-gradient-top;
$cover-text-color: style-colors.$club-butterscotch-dark;
$heading-text-color: style-custom.$headings-color;
$btn-primary-background-color: style-colors.$club-primary-blue;
$btn-primary-hover-color: style-colors.$club-blue-light;
$menu-background-color: style-colors.$club-blue-lighter;
$menu-hover-color: style-colors.$club-blue-light;
