@import "styles-colors";
@import "styles-fonts";
@import "styles-icons";
@import "styles-overrides";
@import "styles-theme";

/* General */
html, body {
  font-family: $text-font-family;
  color: $text-color;
  background-color: $background-color;
}

body {
  background-image: url("/assets/images/background.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: contain;
}

/* Standard */
main {
  height: 100%;
}

/* Headings */
h1 {
  font-family: $heading-text-font-family;
  color: $heading-text-color;
}
