@import 'styles-colors';
@import 'styles-fonts';

/* Font Families */
$body-font-family: $noto-sans-family;
$heading-font-family: $noto-sans-display-family;
$code-font-family: $noto-code-family;

/* Fonts */
$body-font: $noto-sans;
$heading-font: $noto-sans-display;

/* Colours */
$background-color: aliceblue;
$cover-overlay-color: white;
$text-color: $butterscotch-20;
$cover-text-color: $text-color;
$heading-color: $text-color;

/* Gradients */
