@import 'styles-colors.scss';
@import 'styles-fonts.scss';

/* Font Families */
$body-font-family: $noto-sans-family;
$header-font-family: $noto-sans-display-family;
$code-font-family: $noto-code-family;

/* Fonts */
$body-font: $noto-sans;
$header-font: $noto-sans-display;

/* Colours */
$background-color: aliceblue;
$cover-overlay-color: white;
$cover-text-color: $butterscotch-20;
$text-color: black;

/* Gradients */
