@import "style-icons";
@import "style-theme";
@import "style-custom";
@import "style-variables";

/* General */
html, body {
  background: $background-gradient fixed no-repeat;
}

/* Forms */
.form-control:required, .custom-select:required {
  border-left-width: thick;
}

.custom-select:focus, .custom-select:required:focus {
  border-color: $input-focus-border-color;
}

.field-error .list-group-item {
  background-color: transparent;
}

.field-error textarea.form-control {
  border-color: $danger;
}

.field-error input, .field-error select, .field-error textarea {
  background-color: $danger-bg-subtle;
}
