@import "styles-icons";
@import "styles-theme";
@import "styles-overrides";

/* General */
html, body {
  font-family: $text-font-family;
  color: $text-color;
  background-color: $background-color;
}

/* Standard */
footer {
  background-color: $footer-background-color;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-text-font-family;
  color: $heading-text-color;
}
