@forward "styles-colors";
@forward "styles-fonts";
@forward "styles-icons";
@import "styles-theme";

html, body {
  font-family: $body-font-family;
  color: $text-color;
  background-color: $background-color;
  width: 100%;
  height: 98%;
  padding: 0;
}
