@import "style-custom";
@import "style-colors";

/* Fonts */
$text-font: $body-color;

/* Colours */
$background-gradient: $blue-gradient-top;
$cover-text-color: $club-butterscotch-dark;
$heading-text-color: $headings-color;
$btn-primary-background-color: $club-primary-blue;
$btn-primary-hover-color: $club-blue-light;
