@import "styles-font";
@import "styles-color";

/* Font Families */
$font-family-sans-serif: $noto-sans-font-family;
$font-family-monospace: $noto-code-font-family;
$headings-font-family: $noto-sans-display-font-family;

/* Colours */
:root {
  --focus-ring-color: var(--club-blue-light);
}

$body-color: $club-butterscotch-dark;
$headings-color: $body-color;
$link-color: $club-butterscotch-medium;
$link-hover-color: $club-yellow-darkest;
$border-color: $club-primary-yellow;
$focus-ring-color: var(--focus-ring-color);
$input-focus-border-color: $club-primary-blue;
