/* Noto - https://fonts.google.com/noto/fonts */

:root {
  /* Fonts */
  --noto-sans: 'Noto Sans';
  --noto-sans-display: 'Noto Sans Display';
  --noto-serif: 'Noto Serif';
  --noto-serif-display: 'Noto Serif Display';
  --noto-sans-code: 'Noto Sans Mono';

  /* Font Families */
  --noto-sans-family: var(--noto-sans), Arial, Helvetica, sans-serif;
  --noto-sans-display-family: var(--noto-sans-display), Arial, Helvetica, sans-serif;
  --noto-serif-family: var(--noto-serif), 'Times New Roman', Times, serif;
  --noto-serif-display-family: var(--noto-serif-display), 'Times New Roman', Times, serif;
  --noto-code-family: var(--noto-sans-code), 'Courier New', Courier, monospace;
}
