@import "style-theme";

/* TahoniLib */
:root {
  --tl-cover-gradient: $blue-gradient-bottom-left;
  --tl-cover-slider-nav-font-family: $heading-text-font-family;
  --tl-cover-slider-nav-color: $heading-text-color;
  --tl-cover-text-color: $cover-text-color;
}
