/* Coolors Exported Palette - https://coolors.co/ca9148-0a07fb-f5f4f4-000000-f4f421 */

/* Primary Colours */
$butterscotch: #ca9148ff;
$blue: #0a07fbff;
$white-smoke: #f5f4f4ff;
$black: #000000ff;
$yellow: #f4f421ff;

/* Secondary Colours */
$butterscotch-20: #513615;
$blue-lightest: hsl(240, 35%, 95%);
$blue-lighter: hsl(240, 100%, 95%);
