@import "style-font";
@import "style-colors";

/* Fonts */
$text-font: $noto-sans-font;

/* Colours */
$background-gradient: $blue-gradient-top;
$cover-text-color: $butterscotch-dark;
$error-background-color: $yellow-lightest;
