@import "./style-font";
@import "./style-colors";

/* Font Families */
$font-family-base: $noto-sans-font-family;
$font-family-code: $noto-code-font-family;
$headings-font-family: $noto-sans-display-font-family;

/* Colours */
$body-color: $club-butterscotch-dark;
$body-bg: $club-blue-lighter;
$link-color: $club-butterscotch-medium;
$link-hover-color: $club-yellow-darkest;
$border-color: $internation-gold;
