@import "bootstrap/scss/bootstrap-grid";

// Layout
.layout {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-wrap: wrap;
  flex: initial;
}

.body {
  flex: auto;
}

// Logos
.logoContainer {
  width: fit-content;
  align-content: center;
  padding: 0.75em;
}

.logo,
.leftLogo,
.rightLogo {
  margin: 0.75em;
  width: fit-content;
  height: 8em;
}

.leftLogo {
  float: left;
}

.rightLogo {
  float: right;
}

.logo img {
  width: auto;
  height: 100%;
}

// Header and Footer
.header,
.footer {
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.headerSidebar,
.footerSidebar {
  width: fit-content;
  display: flex !important;
  flex: initial;
}

.headerInner,
.headerCenter,
.footerInner,
.footerCenter {
  padding: 0.75em;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.headerInner,
.footerInner {
  padding: 0.75em;
  flex: auto;
}

.headerInner {
  margin-top: 0.75em;
}

.footerInner {
  margin-bottom: 0.75em;
}

.headerInner,
.headerCenter,
.footerInner,
.footerCenter {
  display: flex;
}

.headerCenter,
.footerCenter {
  flex: auto;
}

.headerInner,
.headerCenter {
  justify-content: center;
}

.headerCenter {
  flex-direction: column;
}

.footerCenter {
  flex-direction: row;
}

.headerContent {
  padding: 0.75em;
  align-items: center;
}

.headerContent,
.headerItem {
  display: flex;
  align-content: center;
  justify-content: center;
}

.headerContent,
.footerContent {
  flex: auto;
}

.headerContent {
  flex-direction: column;
}

.footerContent {
  flex-direction: row;
}

.headerItem {
  padding: 0.75rem;
}

@include media-breakpoint-down(md) {
  .header,
  .footer {
    margin: 0;
  }

  .headerInner {
    padding-bottom: 0;
  }

  .footerInner {
    padding-top: 0;
  }

  .headerCenter {
    padding-bottom: 0.75em;
  }

  .footerContent {
    padding-top: 0.75em;
  }
}
